{% extends 'trash/base.html' %}

{% block body_block %}
<li>
    <div class="cd-full-width">
        <div class="container js-tm-page-content tm-section-margin-t" data-page-no="2">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tm-flex">
                        <div class="col-lg-6 tm-white-header-container-outer tm-margin-b tm-2-col-left">
                            <div class="tm-bg-white tm-white-header-container">
                                <h2 class="tm-text-title tm-text-title-small">How it Works</h2>
                            </div>
                            <div
                                class="tm-bg-dark-blue text-xs-left tm-textbox tm-textbox-padding tm-white-header-body tm-white-border tm-2-col-equal-height">
                                <p class="tm-text">Hasty Waste tracks your garbage for the purpose of efficiency,
                                    control, and cost reduction.
                                    Hasty Waste uses state of the art ultrasonic and GPS technology to allow
                                    customers to access each Hasty
                                    Waste bin in a building, create and pull maintanence requests, determine the
                                    best time to take out each
                                    bin, and see how full each bin is.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 tm-white-header-container-outer tm-margin-b tm-2-col-right">
                                <div>
                                    <img src="https://cdn.discordapp.com/attachments/611787853365510146/630421744116563968/howitworks.jpg" alt="How it Works" height="390" width="600">
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tm-flex">
                        <div class="col-lg-6 tm-white-header-container-outer tm-margin-b tm-2-col-left">
                            <div class="tm-bg-white tm-white-header-container">
                                <h2 class="tm-text-title tm-text-title-small">What it Offers</h2>
                            </div>
                            <div
                                class="tm-bg-dark-blue text-xs-left tm-textbox tm-textbox-padding tm-white-header-body tm-white-border tm-2-col-equal-height">
                                <p class="tm-text">Each Hasty Waste bin connects with other bins to determine the
                                    best time to take out
                                    all bins in the local area using past take-out information. This over time
                                    greatly diminishes the amount of
                                    time and waste that a company uses by ensuring every bin is taken out at every
                                    point in time.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 tm-white-header-container-outer tm-margin-b tm-2-col-right">
                                <div>
                                    <img src="https://cdn.discordapp.com/attachments/611787853365510146/630421747467943986/safety.jpg" alt="Offerings to Satan" height="390" width="600">
                                </div>
                            </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tm-flex">
                        <div class="col-lg-6 tm-white-header-container-outer tm-margin-b tm-2-col-left">
                            <div class="tm-bg-white tm-white-header-container">
                                <h2 class="tm-text-title tm-text-title-small">Prioritizing Safety</h2>
                            </div>
                            <div
                                class="tm-bg-dark-blue text-xs-left tm-textbox tm-textbox-padding tm-white-header-body tm-white-border tm-2-col-equal-height">
                                <p class="tm-text">Each Hasty Waste bin is also equipped with temperature and liquid
                                    sensors
                                    in order to report safety concerns such as a leaked bag, or a fire within a bin.
                                    This allows each customer to
                                    have a safe and enjoyable experience with their Hasty Waste bins.

                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 tm-white-header-container-outer tm-margin-b tm-2-col-right">
                                <div>
                                    <img src="https://cdn.discordapp.com/attachments/611787853365510146/630421747467943986/safety.jpg" alt="Prioritizing Safety" height="390" width="600">
                                </div>
                            </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tm-flex">
                        <div class="col-lg-6 tm-white-header-container-outer tm-margin-b tm-2-col-left">
                            <div class="tm-bg-white tm-white-header-container">
                                <h2 class="tm-text-title tm-text-title-small">Complete Control</h2>
                            </div>
                            <div
                                class="tm-bg-dark-blue text-xs-left tm-textbox tm-textbox-padding tm-white-header-body tm-white-border tm-2-col-equal-height">
                                <p class="tm-text">Each Hasty Waste bin can connect with the Hasty Base to get all
                                    analytic
                                    information in an administrator tab. At the click of a mouse, all Hasty Waste
                                    bin details and
                                    locations can be viewed.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 tm-white-header-container-outer tm-margin-b tm-2-col-right">
                            <div>
                                <img src="https://cdn.discordapp.com/attachments/611787853365510146/630421736994635800/completecontrol.jpg" alt="Complete Control" height="390" width="600">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-xs-12">
                        <div class="tm-flex">
                            <div class="col-lg-6 tm-white-header-container-outer tm-margin-b tm-2-col-left">
                                <div class="tm-bg-white tm-white-header-container">
                                    <h2 class="tm-text-title tm-text-title-small">Data Optimization</h2>
                                </div>
                                <div
                                    class="tm-bg-dark-blue text-xs-left tm-textbox tm-textbox-padding tm-white-header-body tm-white-border tm-2-col-equal-height">
                                    <p class="tm-text"> We analyse the past data of each bin to generate a more accurate
                                         prediction of when a bin will be full.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 tm-white-header-container-outer tm-margin-b tm-2-col-right">
                                <div></div>
                                    <img src="https://cdn.discordapp.com/attachments/611787853365510146/630421739935105025/dataanalytics.jpg" alt="Data Optimization" height="390" width="600">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div> <!-- .cd-full-width -->
</li>
{% endblock %}
